# Pipfile
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
browser-use = ">=0.3.0"
pinecone = ">=2.2.0"
chromadb = ">=1.1.0"
pymilvus = ">=2.2.0"
milvus-model = "*"
pymilvus[milvus_lite] = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11.3"
