# Pipfile
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2.0.0"
browser-use = ">=0.3.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11.3"
